* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 3.5rem;
  background-color: #60ab41;
  color: #1053c7;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  height: 100%;
}

.navbar_list__items {
  height: 100%;
  display: flex;
  align-items: center;
}

.list_item {
  list-style-type: none;
  margin: 0 10px;
}

.list_item a {
  cursor: pointer;
  color: #3636b5;
  text-decoration-line: none;
  font-size: 1em;
}

.list_item a:hover,
.list_item a:active {
  color: #09095a;
}
